/* @import url("asciidoctor-default.css");*/
@import url("docbook-xsl.css");

/* Local styles */

.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}


p, dd, li {
  text-align: justify !important;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  color: #980000;
}

a {
color: #980000;
}

h3, h4, h5, h6 {
  line-height: 1.1 !important;
  font-size: 1.0em;
}

div.toc p:first-child,
div.list-of-figures p:first-child,
div.list-of-tables p:first-child,
div.list-of-examples p:first-child,
div.example p.title,
div.sidebar p.title {
  color: #980000;
}

div.table thead,
div.table tfoot,
div.table tbody,
div.informaltable thead,
div.informaltable tfoot,
div.informaltable tbody {
/*
    border-top: 3px solid #980000;
    border-bottom: 3px solid #980000;
*/
}




body h1 {
  font-size: 1.5em;
  margin-top: 0.7em;
}

body h2 {
  font-size: 1.2em;
}

body h3 {
  font-size: 1.0em;
}


div.sidebar {
    margin: 10px 0 !important;
}

div.tip, div.note, div.warning, div.caution, div.important {
  margin: 10px 0 !important;
  /*border-radius: 5px;*/
  /*font-size: 90%;*/
  padding: 10px 8px 20px 8px !important;
  page-break-inside: avoid;
}

div.tip h3, div.note h3, div.warning h3, div.caution h3, div.important h3, div.sidebar p.title {
 margin-top: 0px;
 text-transform: uppercase;
 text-align: center !important;
 font-size: 90%;
}

div.tip, div.note {
  border: 1px solid #6cafd0;
  background-color: transparent;
}

div.warning, div.caution {
  border: 1px solid #8e0012;
  background-color: #fce5e8;
}

div.important {
  background-color: #FFF68F;
  border: 1px solid #615E3F;
}



div.itemizedlist li, div.orderedlist li {
  margin-left: 0px;
}

.programlisting, .screen {
  margin: 0.7em 0 0.7em 0;
  border: 1px solid silver;
  background-color: #f4f4f4;
  padding: 5px 5px;
  font-size: 0.9em;
}

.literallayout {
  margin-left: 1em;
  font-size: 0.9em;
}

code.literal {
  color: initial;
}


div.calloutlist table {
  font-size: 0.9em;
}

div.calloutlist table tr td {
    line-height: 1.0;
}

div.calloutlist p {
  margin: 0;
}

/*
div.calloutlist table {
  margin: 10px 0px !important;
  background: #ffffff;
  font-size: 0.9em;
  border: none;
}

div.calloutlist table tr, div.calloutlist table tr th, div.calloutlist table tr td {
  border: none;
  background: none;
  padding: 0.2em;
}

dt span.term {
  font-style: bold;
  color: navy;
}


*/

div.chapter>div.titlepage {
  width: 100%;
  padding: 15px 20px 20px 20px;
  background-color: #000;
  color: #fff;
  margin-bottom: 30px;
}

div.chapter>div.titlepage h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8em;
  text-align: right;
}

p {
  margin: 8px 0 0 0;
}


code, pre {
  font-size: 1em;
  font-family: monospace;
  white-space: pre-wrap;
}

pre {
  tab-size: 4;
}

.calloutlist a {
text-decoration: none;
color: navy;
}

a.simpara {
text-decoration: none;
}


div.calloutlist p {
  margin-top: 4px;
}

blockquote p, div.blockquote p {
  font-style: italic;
  font-size: 95%;
}

div.bibliomixed p {
  text-align: left;
}


div.footnote {
  font-size: 90%;
}

div.variablelist dd {
  margin-left: 15px !important;
}

div.variablelist dd p {
  margin-top: 4px;
}



ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}


/*
pre img {
vertical-align: text-bottom;
}

ol, ul {
  margin-left: 1em;
}
*/


div.chapter, div.footnotes { page-break-before: always; }

/*div.mediaobject img {
    box-shadow: 4px 4px 12px #ccc;
}*/

/* keep this body statement last */
html body {
  font-family: Georgia, Caecilia, Palatino, serif;
  font-size: medium;
  max-width: 40em;
  margin: 0.5em 2% 0.5em 2%;
  line-height: 1.2;
}
